.DS_Store
*.DS_Store
.Rproj.user
index.html
lse-my472.github.io.Rproj
.RData
.Rhistory
week02/MY472-week02-shape-class.pdf
week09/01-sql-intro.Rmd
week09/02-sql-join-and-aggregation.Rmd
week09/data/congress-facebook-2017.csv
week09/data/facebook-db.sqlite
week09/data/posts/106631626049851.csv
week09/data/posts/109135405838588.csv
week09/data/posts/113303673339.csv
week09/data/posts/115356957005.csv
week09/data/posts/116058275133542.csv
week09/data/posts/118514606128.csv
week09/data/posts/15083070102.csv
week09/data/posts/152569121550.csv
week09/data/posts/153423912663.csv
week09/data/posts/191056827594903.csv
week09/data/posts/214258646163.csv
week09/data/posts/301936109927957.csv
week09/data/posts/326420614138023.csv
week09/data/posts/395759603917487.csv
week09/data/posts/50375006903.csv
week09/data/posts/63158229861.csv
week09/data/posts/70063393423.csv
week09/data/posts/8037068318.csv
week09/data/posts/81058818750.csv
week09/data/posts/81125319109.csv
week09/data/posts/95696782238.csv
week09/data/posts/96007744606.csv
week09/data/posts/AndyHarrisMD.csv
week09/data/posts/aumuaamata.csv
week09/data/posts/betoorourketx16.csv
week09/data/posts/BlaineLuetkemeyer.csv
week09/data/posts/BlakeFarenthold.csv
week09/data/posts/bobcorker.csv
week09/data/posts/BobGoodlatte.csv
week09/data/posts/boblatta.csv
week09/data/posts/ChelliePingree.csv
week09/data/posts/chrismurphyct.csv
week09/data/posts/chrisvanhollen.csv
week09/data/posts/CongressmanAlexMooney.csv
week09/data/posts/CongressmanAndreCarson.csv
week09/data/posts/CongressmanBennieGThompson.csv
week09/data/posts/CongressmanBillFoster.csv
week09/data/posts/congressmanbobbyrush.csv
week09/data/posts/CongressmanBoyle.csv
week09/data/posts/CongressmanBradSchneider.csv
week09/data/posts/CongressmanBuchanan.csv
week09/data/posts/congressmanbuddycarter.csv
week09/data/posts/CongressmanClayHiggins.csv
week09/data/posts/congressmancomer.csv
week09/data/posts/CongressmanCulberson.csv
week09/data/posts/CongressmanDarrenSoto.csv
week09/data/posts/CongressmanDavidCicilline.csv
week09/data/posts/CongressmanDavidValadao.csv
week09/data/posts/CongressmanDennyHeck.csv
week09/data/posts/CongressmanDent.csv
week09/data/posts/CongressmanDKDavis.csv
week09/data/posts/CongressmanDougLamborn.csv
week09/data/posts/CongressmanDuncan.csv
week09/data/posts/CongressmanEricSwalwell.csv
week09/data/posts/CongressmanErikPaulsen.csv
week09/data/posts/CongressmanGarretGraves.csv
week09/data/posts/CongressmanGaryPalmer.csv
week09/data/posts/CongressmanGeorgeHolding.csv
week09/data/posts/CongressmanGerryConnolly.csv
week09/data/posts/congressmangkbutterfield.csv
week09/data/posts/CongressmanGT.csv
week09/data/posts/CongressmanGuthrie.csv
week09/data/posts/CongressmanHalRogers.csv
week09/data/posts/CongressmanJimBridenstine.csv
week09/data/posts/CongressmanJimHimes.csv
week09/data/posts/CongressmanJimLangevin.csv
week09/data/posts/CongressmanJodyHice.csv
week09/data/posts/congressmanjohndelaney.csv
week09/data/posts/CongressmanKevinCramer.csv
week09/data/posts/CongressmanKevinYoder.csv
week09/data/posts/CongressmanLance.csv
week09/data/posts/CongressmanLouBarletta.csv
week09/data/posts/CongressmanMarcVeasey.csv
week09/data/posts/CongressmanMarino.csv
week09/data/posts/CongressmanMattCartwright.csv
week09/data/posts/CongressmanMattGaetz.csv
week09/data/posts/CongressmanMcHenry.csv
week09/data/posts/CongressmanMikeDRogers.csv
week09/data/posts/CongressmanNadler.csv
week09/data/posts/CongressmanPatrickMeehan.csv
week09/data/posts/congressmanpittenger.csv
week09/data/posts/congressmanraja.csv
week09/data/posts/CongressmanRalphAbraham.csv
week09/data/posts/CongressmanRaulRuizMD.csv
week09/data/posts/CongressmanRickAllen.csv
week09/data/posts/congressmanrodblum.csv
week09/data/posts/CongressmanRyanCostello.csv
week09/data/posts/CongressmanScottTipton.csv
week09/data/posts/CongressmanSethMoulton.csv
week09/data/posts/CongressmanSteveCohen.csv
week09/data/posts/CongressmanTedDeutch.csv
week09/data/posts/CongressmanTedYoho.csv
week09/data/posts/CongressmanTomMacArthur.csv
week09/data/posts/CongressmanWarrenDavidson.csv
week09/data/posts/Congresswoman.Hartzler.csv
week09/data/posts/CongresswomanAdams.csv
week09/data/posts/CongresswomanAnnieKuster.csv
week09/data/posts/CongresswomanBarragan.csv
week09/data/posts/congresswomanbonamici.csv
week09/data/posts/CongresswomanClark.csv
week09/data/posts/CongresswomanEBJtx30.csv
week09/data/posts/CongresswomanNorton.csv
week09/data/posts/CongresswomanRosaDeLauro.csv
week09/data/posts/CongresswomanSheilaJacksonLee.csv
week09/data/posts/congresswomansusanwbrooks.csv
week09/data/posts/CongresswomanTitus.csv
week09/data/posts/darrellissa.csv
week09/data/posts/DaveLoebsack.csv
week09/data/posts/dennis.ross.376.csv
week09/data/posts/derek.kilmer.csv
week09/data/posts/DianaDeGette.csv
week09/data/posts/DianeBlackTN06.csv
week09/data/posts/DonaldNorcrossNJ.csv
week09/data/posts/DonaldPayneJr.csv
week09/data/posts/doris.matsui.csv
week09/data/posts/drnealdunnfl2.csv
week09/data/posts/DrPhilRoe.csv
week09/data/posts/DuncanHunter.csv
week09/data/posts/EdJMarkey.csv
week09/data/posts/EdRoyce.csv
week09/data/posts/elijahcummings.csv
week09/data/posts/emanuelcleaverii.csv
week09/data/posts/grassley.csv
week09/data/posts/GreggHarper.csv
week09/data/posts/GusBilirakis.csv
week09/data/posts/GwenSMoore.csv
week09/data/posts/herrerabeutler.csv
week09/data/posts/HurdOnTheHill.csv
week09/data/posts/iroslehtinen.csv
week09/data/posts/JackieSpeier.csv
week09/data/posts/jameseclyburn.csv
week09/data/posts/janschakowsky.csv
week09/data/posts/jaredpolis.csv
week09/data/posts/jefffortenberry.csv
week09/data/posts/jeffmerkley.csv
week09/data/posts/jerrymcnerney.csv
week09/data/posts/jerrymoran.csv
week09/data/posts/JimCooper.csv
week09/data/posts/jiminhofe.csv
week09/data/posts/JodeyArrington.csv
week09/data/posts/joecourtney.csv
week09/data/posts/JoeManchinIII.csv
week09/data/posts/JoeWilson.csv
week09/data/posts/johnbarrasso.csv
week09/data/posts/JohnBoozman.csv
week09/data/posts/JohnKennedyLouisiana.csv
week09/data/posts/johnmccain.csv
week09/data/posts/judgecarter.csv
week09/data/posts/Keith.Ellison.csv
week09/data/posts/keithrothfus.csv
week09/data/posts/kevinbrady.csv
week09/data/posts/LamarSmithTX21.csv
week09/data/posts/lloyddoggett.csv
week09/data/posts/madeleine.bordallo.csv
week09/data/posts/MarkAmodeiNV2.csv
week09/data/posts/MarkRWarner.csv
week09/data/posts/marshablackburn.csv
week09/data/posts/MartinHeinrich.csv
week09/data/posts/MaxineWaters.csv
week09/data/posts/mcmorrisrodgers.csv
week09/data/posts/mdiazbalart.csv
week09/data/posts/michaelcburgess.csv
week09/data/posts/michaeltmccaul.csv
week09/data/posts/mike.conaway.csv
week09/data/posts/mikecrapo.csv
week09/data/posts/mikeenzi.csv
week09/data/posts/mitchmcconnell.csv
week09/data/posts/NancyPelosi.csv
week09/data/posts/pascrell.csv
week09/data/posts/PeterRoskam.csv
week09/data/posts/PeterWelch.csv
week09/data/posts/petesessions.csv
week09/data/posts/raul.r.labrador.csv
week09/data/posts/Rep.Billy.Long.csv
week09/data/posts/Rep.BluntRochester.csv
week09/data/posts/Rep.Grijalva.csv
week09/data/posts/Rep.PeteOlson.csv
week09/data/posts/Rep.Shuster.csv
week09/data/posts/RepAdamSchiff.csv
week09/data/posts/RepAdamSmith.csv
week09/data/posts/repalgreen.csv
week09/data/posts/RepAlLawsonJr.csv
week09/data/posts/RepAmiBera.csv
week09/data/posts/RepAndyBarr.csv
week09/data/posts/RepAndyBiggs.csv
week09/data/posts/RepAnnaEshoo.csv
week09/data/posts/RepAnnWagner.csv
week09/data/posts/RepAnthonyBrown.csv
week09/data/posts/RepAustinScott.csv
week09/data/posts/RepBarbaraComstock.csv
week09/data/posts/RepBarbaraLee.csv
week09/data/posts/RepBenRayLujan.csv
week09/data/posts/repbettymccollum.csv
week09/data/posts/RepBillFlores.csv
week09/data/posts/RepBillJohnson.csv
week09/data/posts/RepBobbyScott.csv
week09/data/posts/RepBobGibbs.csv
week09/data/posts/RepBonnie.csv
week09/data/posts/RepBost.csv
week09/data/posts/RepBradWenstrup.csv
week09/data/posts/RepBrianBabin.csv
week09/data/posts/repbrianfitzpatrick.csv
week09/data/posts/RepBrianHiggins.csv
week09/data/posts/repbrianmast.csv
week09/data/posts/RepByrne.csv
week09/data/posts/repcardenas.csv
week09/data/posts/RepCarolynMaloney.csv
week09/data/posts/RepCharlieCrist.csv
week09/data/posts/RepCheri.csv
week09/data/posts/RepChrisCollins.csv
week09/data/posts/RepChrisSmith.csv
week09/data/posts/RepChrisStewart.csv
week09/data/posts/repchuck.csv
week09/data/posts/RepClaudiaTenney.csv
week09/data/posts/RepColleenHanabusa.csv
week09/data/posts/repcurbelo.csv
week09/data/posts/RepDanDonovan.csv
week09/data/posts/RepDanKildee.csv
week09/data/posts/repdanlipinski.csv
week09/data/posts/RepDaveBrat.csv
week09/data/posts/RepDaveJoyce.csv
week09/data/posts/repdavereichert.csv
week09/data/posts/RepDaveTrott.csv
week09/data/posts/RepDavidEPrice.csv
week09/data/posts/RepDavidKustoff.csv
week09/data/posts/repdavidschweikert.csv
week09/data/posts/RepDavidYoung.csv
week09/data/posts/RepDebbieDingell.csv
week09/data/posts/RepDelBene.csv
week09/data/posts/RepDeSantis.csv
week09/data/posts/RepDonBacon.csv
week09/data/posts/repdonbeyer.csv
week09/data/posts/RepDonYoung.csv
week09/data/posts/RepDrewFerguson.csv
week09/data/posts/RepDwightEvans.csv
week09/data/posts/RepDWS.csv
week09/data/posts/RepEliotLEngel.csv
week09/data/posts/RepEliseStefanik.csv
week09/data/posts/RepEspaillat.csv
week09/data/posts/RepEsty.csv
week09/data/posts/RepEvanJenkins.csv
week09/data/posts/RepFrankLucas.csv
week09/data/posts/repfrankpallone.csv
week09/data/posts/RepFredUpton.csv
week09/data/posts/RepFrenchHill.csv
week09/data/posts/repgaramendi.csv
week09/data/posts/RepGeneGreen.csv
week09/data/posts/repgosar.csv
week09/data/posts/repgracemeng.csv
week09/data/posts/RepGraceNapolitano.csv
week09/data/posts/repgregwalden.csv
week09/data/posts/RepGrothman.csv
week09/data/posts/RepGutierrez.csv
week09/data/posts/RepHakeemJeffries.csv
week09/data/posts/RepHensarling.csv
week09/data/posts/RepHuffman.csv
week09/data/posts/RepHuizenga.csv
week09/data/posts/RepHultgren.csv
week09/data/posts/RepJackBergman.csv
week09/data/posts/RepJackieWalorski.csv
week09/data/posts/RepJackyRosen.csv
week09/data/posts/RepJasonLewis.csv
week09/data/posts/repjasonsmith.csv
week09/data/posts/RepJayapal.csv
week09/data/posts/RepJeffDenham.csv
week09/data/posts/RepJeffDuncan.csv
week09/data/posts/RepJimBanks.csv
week09/data/posts/RepJimCosta.csv
week09/data/posts/repjimjordan.csv
week09/data/posts/RepJimMcGovern.csv
week09/data/posts/RepJimmyGomez.csv
week09/data/posts/RepJimmyPanetta.csv
week09/data/posts/repjimrenacci.csv
week09/data/posts/RepJoeBarton.csv
week09/data/posts/repjoecrowley.csv
week09/data/posts/RepJohnFaso.csv
week09/data/posts/RepJohnKatko.csv
week09/data/posts/RepJohnLarson.csv
week09/data/posts/RepJohnLewis.csv
week09/data/posts/RepJoseSerrano.csv
week09/data/posts/RepJoshG.csv
week09/data/posts/RepJoyceBeatty.csv
week09/data/posts/RepJuanVargas.csv
week09/data/posts/RepJudyChu.csv
week09/data/posts/RepJuliaBrownley.csv
week09/data/posts/RepKarenBass.csv
week09/data/posts/RepKathleenRice.csv
week09/data/posts/RepKayGranger.csv
week09/data/posts/repkenbuck.csv
week09/data/posts/RepKennyMarchant.csv
week09/data/posts/RepKihuen.csv
week09/data/posts/RepKinzinger.csv
week09/data/posts/replahood.csv
week09/data/posts/RepLaMalfa.csv
week09/data/posts/RepLarryBucshon.csv
week09/data/posts/RepLeeZeldin.csv
week09/data/posts/replizcheney.csv
week09/data/posts/RepLoisFrankel.csv
week09/data/posts/RepLouCorrea.csv
week09/data/posts/reploudermilk.csv
week09/data/posts/RepLouiseSlaughter.csv
week09/data/posts/RepLowenthal.csv
week09/data/posts/RepLowey.csv
week09/data/posts/RepLujanGrisham.csv
week09/data/posts/RepLukeMesser.csv
week09/data/posts/replynnjenkins.csv
week09/data/posts/repmacthornberry.csv
week09/data/posts/RepMarciaLFudge.csv
week09/data/posts/RepMarkDeSaulnier.csv
week09/data/posts/Repmarkmeadows.csv
week09/data/posts/repmarkpocan.csv
week09/data/posts/RepMarkTakano.csv
week09/data/posts/RepMarkWalker.csv
week09/data/posts/RepMcEachin.csv
week09/data/posts/RepMcKinley.csv
week09/data/posts/RepMcSally.csv
week09/data/posts/repmialove.csv
week09/data/posts/RepMichaelCapuano.csv
week09/data/posts/RepMikeBishop.csv
week09/data/posts/repmikecoffman.csv
week09/data/posts/RepMikeGallagher.csv
week09/data/posts/RepMikeJohnson.csv
week09/data/posts/repmikequigley.csv
week09/data/posts/RepMikeThompson.csv
week09/data/posts/RepMikeTurner.csv
week09/data/posts/RepMimiWalters.csv
week09/data/posts/RepMoBrooks.csv
week09/data/posts/RepMoolenaar.csv
week09/data/posts/RepMorganGriffith.csv
week09/data/posts/RepMullin.csv
week09/data/posts/RepNewhouse.csv
week09/data/posts/RepNormaTorres.csv
week09/data/posts/repohalleran.csv
week09/data/posts/RepPatTiberi.csv
week09/data/posts/RepPaulCook.csv
week09/data/posts/reppaulmitchell.csv
week09/data/posts/reppaultonko.csv
week09/data/posts/RepPerlmutter.csv
week09/data/posts/reppeteaguilar.csv
week09/data/posts/RepPeterDeFazio.csv
week09/data/posts/RepPoliquin.csv
week09/data/posts/RepRalphNorman.csv
week09/data/posts/repraskin.csv
week09/data/posts/RepRatcliffe.csv
week09/data/posts/Representative.Martha.Roby.csv
week09/data/posts/RepresentativeDougCollins.csv
week09/data/posts/RepresentativeMarcyKaptur.csv
week09/data/posts/RepresentativeSteveKnight.csv
week09/data/posts/RepresentativeValDemings.csv
week09/data/posts/reprichardneal.csv
week09/data/posts/RepRichHudson.csv
week09/data/posts/RepRichmond.csv
week09/data/posts/RepRickCrawford.csv
week09/data/posts/RepRickLarsen.csv
week09/data/posts/RepRobBishop.csv
week09/data/posts/RepRobertBrady.csv
week09/data/posts/reprobinkelly.csv
week09/data/posts/RepRobWittman.csv
week09/data/posts/RepRobWoodall.csv
week09/data/posts/RepRodneyDavis.csv
week09/data/posts/RepRogerWilliams.csv
week09/data/posts/RepRoKhanna.csv
week09/data/posts/RepRonEstes.csv
week09/data/posts/repronkind.csv
week09/data/posts/RepRooney.csv
week09/data/posts/RepRouzer.csv
week09/data/posts/RepRoybalAllard.csv
week09/data/posts/RepRubenGallego.csv
week09/data/posts/RepRutherfordFL.csv
week09/data/posts/repsaludcarbajal.csv
week09/data/posts/RepSamJohnson.csv
week09/data/posts/RepSandyLevin.csv
week09/data/posts/RepSanfordSC.csv
week09/data/posts/RepSarbanes.csv
week09/data/posts/repschrader.csv
week09/data/posts/repscottperry.csv
week09/data/posts/RepScottPeters.csv
week09/data/posts/RepScottTaylor.csv
week09/data/posts/RepSeanDuffy.csv
week09/data/posts/RepSeanMaloney.csv
week09/data/posts/RepSewell.csv
week09/data/posts/repsheaporter.csv
week09/data/posts/repshimkus.csv
week09/data/posts/RepSmucker.csv
week09/data/posts/repstaceyplaskett.csv
week09/data/posts/repstephenlynch.csv
week09/data/posts/RepStephMurphy.csv
week09/data/posts/RepSteveChabot.csv
week09/data/posts/RepStevePearce.csv
week09/data/posts/RepSteveScalise.csv
week09/data/posts/RepSusanDavis.csv
week09/data/posts/RepTedBudd.csv
week09/data/posts/RepTedLieu.csv
week09/data/posts/RepThomasMassie.csv
week09/data/posts/RepToddRokita.csv
week09/data/posts/reptomemmer.csv
week09/data/posts/reptomgraves.csv
week09/data/posts/RepTomReed.csv
week09/data/posts/reptomrice.csv
week09/data/posts/reptomrooney.csv
week09/data/posts/RepTomSuozzi.csv
week09/data/posts/reptrentkelly.csv
week09/data/posts/reptrey.csv
week09/data/posts/RepTreyGowdy.csv
week09/data/posts/RepTsongas.csv
week09/data/posts/RepTulsiGabbard.csv
week09/data/posts/repvisclosky.csv
week09/data/posts/RepWalberg.csv
week09/data/posts/RepWebster.csv
week09/data/posts/RepWesterman.csv
week09/data/posts/RepWilson.csv
week09/data/posts/repyvettedclarke.csv
week09/data/posts/rfrelinghuysen.csv
week09/data/posts/RichardShelby.csv
week09/data/posts/RobertAderholt.csv
week09/data/posts/rogermarshallmd.csv
week09/data/posts/sanfordbishop.csv
week09/data/posts/ScottDesJarlaisTN04.csv
week09/data/posts/sen.johncornyn.csv
week09/data/posts/senatoralfranken.csv
week09/data/posts/SenatorAngusSKingJr.csv
week09/data/posts/senatorbencardin.csv
week09/data/posts/SenatorBlunt.csv
week09/data/posts/SenatorBobCasey.csv
week09/data/posts/senatorcantwell.csv
week09/data/posts/senatorchriscoons.csv
week09/data/posts/SenatorCortezMasto.csv
week09/data/posts/SenatorDavidPerdue.csv
week09/data/posts/senatordebfischer.csv
week09/data/posts/senatordonnelly.csv
week09/data/posts/SenatorDurbin.csv
week09/data/posts/senatorelizabethwarren.csv
week09/data/posts/senatorfeinstein.csv
week09/data/posts/SenatorHassan.csv
week09/data/posts/SenatorHeidiHeitkamp.csv
week09/data/posts/senatorhirono.csv
week09/data/posts/senatorjeffflake.csv
week09/data/posts/SenatorJohnHoeven.csv
week09/data/posts/SenatorKaine.csv
week09/data/posts/SenatorKamalaHarris.csv
week09/data/posts/senatorlamaralexander.csv
week09/data/posts/SenatorLankford.csv
week09/data/posts/SenatorLutherStrange.csv
week09/data/posts/SenatorMarcoRubio.csv
week09/data/posts/senatormccaskill.csv
week09/data/posts/senatormenendez.csv
week09/data/posts/senatormikelee.csv
week09/data/posts/SenatorMikeRounds.csv
week09/data/posts/senatororrinhatch.csv
week09/data/posts/SenatorPatrickLeahy.csv
week09/data/posts/SenatorRandPaul.csv
week09/data/posts/SenatorRichardBurr.csv
week09/data/posts/senatorsanders.csv
week09/data/posts/SenatorSasse.csv
week09/data/posts/SenatorShaheen.csv
week09/data/posts/SenatorSherrodBrown.csv
week09/data/posts/SenatorStabenow.csv
week09/data/posts/senatortammybaldwin.csv
week09/data/posts/SenatorTedCruz.csv
week09/data/posts/senatortester.csv
week09/data/posts/SenatorThomTillis.csv
week09/data/posts/SenatorTimScott.csv
week09/data/posts/SenatorToddYoung.csv
week09/data/posts/SenatorTomCotton.csv
week09/data/posts/senatortomudall.csv
week09/data/posts/senatortoomey.csv
week09/data/posts/SenatorWhitehouse.csv
week09/data/posts/SenatorWicker.csv
week09/data/posts/senbennetco.csv
week09/data/posts/SenBlumenthal.csv
week09/data/posts/SenBrianSchatz.csv
week09/data/posts/SenCoryGardner.csv
week09/data/posts/SenDanSullivan.csv
week09/data/posts/SenDeanHeller.csv
week09/data/posts/SenDuckworth.csv
week09/data/posts/SenGaryPeters.csv
week09/data/posts/SenJackReed.csv
week09/data/posts/senjoniernst.csv
week09/data/posts/SenKirstenGillibrand.csv
week09/data/posts/SenLisaMurkowski.csv
week09/data/posts/SenPatRoberts.csv
week09/data/posts/senrobportman.csv
week09/data/posts/senronjohnson.csv
week09/data/posts/senschumer.csv
week09/data/posts/senshelley.csv
week09/data/posts/speakerryan.csv
week09/data/posts/SteveDainesMT.csv
week09/data/posts/stevekingia.csv
week09/data/posts/stevenpalazzo.csv
week09/data/posts/susancollins.csv
week09/data/posts/timryan.csv
week09/data/posts/tomcarper.csv
week09/data/posts/TomColeOK04.csv
week09/data/posts/TXRandy14.csv
week09/data/posts/USCongressmanFilemonVela.csv
week09/data/posts/USCongressmanVicenteGonzalez.csv
week09/data/posts/USRepKathyCastor.csv
week09/data/posts/usrepmikedoyle.csv
week09/data/posts/UsRepRickNolan.csv
week09/data/posts/USSenatorLindseyGraham.csv
week09/data/posts/WhipHoyer.csv
week09/data/posts/zoelofgren.csv
*.sqlite
*.csv
*.atx
